
<div class="status">
    <mat-card class="mainCard">
        <mat-card-title>User Details</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <div class="col-sm-2 name">
                        <p>User</p>
                    </div>
                    <div class="col-sm-4 detail">
                        <p>SAPRAKASH</p>
                    </div>
                    <div class="col-sm-2 name">
                        <p>Name</p>
                    </div>
                    <div class="col-sm-4 detail">
                        <p>Sabarish Prakash</p>
                    </div>
                </mat-list-item>
                <mat-list-item><div class="col-sm-2 name">
                    <p>Branch</p>
                </div>
                <div class="col-sm-2 detail">
                    <p>ACEN</p>
                </div>
                <div class="col-sm-8 detail">
                    <p>Agencia Central,Banco De Poupanca e Credito</p>
                </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="col-sm-2 name">
                    <p>Role</p>
                </div>
                <div class="col-sm-4 detail">
                    <p>Operator</p>
                </div>
                <div class="col-sm-2 name">
                    <p>Limit</p>
                </div>
                <div class="col-sm-4 detail">
                    <p>10,000,000.00 AOA</p>
                </div></mat-list-item>
              </mat-list>
        </mat-card-content>
    </mat-card>
    <mat-card class="mainCard">
        <mat-card-title>System Details</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <div class="col-sm-1 name">
                        <p>Unit</p>
                    </div>
                    <div class="col-sm-4 detail">
                        <p>ACS1BCK NET</p>
                    </div>
                    <div class="col-sm-2 name">
                        <p>Name</p>
                    </div>
                    <div class="col-sm-5 detail">
                        <p>NET BackUp Server</p>
                    </div>
                </mat-list-item>
                <mat-list-item><div class="col-sm-2 name">
                    <p>Input System</p>
                </div>
                <div class="col-sm-2 detail">
                    <p>Normal</p>
                </div>
                <div class="col-sm-2 name">
                    <p>Phase</p>
                </div>
                <div class="col-sm-2 detail">
                    <p>C00</p>
                </div>
                <div class="col-sm-2 detail">
                    <p>Day</p>
                </div>
                </mat-list-item>
                <mat-list-item>
                <div class="col-sm-2 name">
                    <p>Status</p>
                </div>
                <div class="col-sm-3 detail">
                    <p>Online</p>
                </div>
                <div class="col-sm-2 name">
                    <p>Date</p>
                </div>
                <div class="col-sm-5 detail">
                    <p>{{ todayDate | date:'fullDate' }}</p>
                </div>
                </mat-list-item>
              </mat-list>
        </mat-card-content>
    </mat-card>
</div>
<mat-grid-list cols="6" rowHeight="0.75:1">
    <mat-grid-tile *ngFor="let menu of menus">
        <a (click)="showSubMenu(menu.key)">
            <mat-card class="card">
                <mat-card-title>
                    <p style="text-align: center;">{{menu.heading}}</p>
                </mat-card-title>
                <mat-card-subtitle>{{menu.desc}}</mat-card-subtitle>
                <mat-card-content><img src={{menu.icon}} width=100 height=100></mat-card-content>
            </mat-card>
        </a>
    </mat-grid-tile>
</mat-grid-list>