.card {
    width: 175px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #00338E;
    font-size: 50px;
    font-weight: bold;
  }

.status {
  display: flex;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  justify-content: center;
  will-change: transform;
  width: 100%;
  height: 250px;
  color: #f0f0f0;
  z-index: 10;
  flex-direction: row;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

.mat-card-title {
  margin: 0px;
  color: #00338E;
}

.mat-card-subtitle {
  font-family: 'Noto Sans', sans-serif;
}

.row {
  display: flex;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  justify-content: center;
  will-change: transform;
  width: 100%;
  z-index: 10;
  flex-direction: row;
}

.mainCard {
  font-family: 'Noto Sans', sans-serif;
  margin: 25px;
  height: 225px;
  width: 650px;
}