<mat-grid-list cols="6" rowHeight="0.75:1">
    <mat-grid-tile *ngFor="let menu of menus">
        <a (click)="showSubMenu(menu.key)">
            <mat-card class="card">
                <mat-card-title>
                    <p>{{menu.heading}}</p>
                </mat-card-title>
                <mat-card-subtitle>{{menu.desc}}</mat-card-subtitle>
                <mat-card-content><img src={{menu.icon}} width=100 height=100></mat-card-content>
            </mat-card>
        </a>
    </mat-grid-tile>
</mat-grid-list>