<div class="row">
    <div class="col-lg-11"><h2 class="text-left" style="color: #00338E;">PMC <i>Post Manual Charges</i></h2></div>
    <div class="col-lg-1">
    </div>  
</div>
<hr/>
<div class="row">
    <div class="col-lg-7">
      
    <div class="container">
        <form [formGroup]="pmcForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="branch">Branch</label>
                    <input type="text" size="4" class="form-control" id="branch" aria-describedby="branch" placeholder="Branch" style="border-color: #00338E;" maxlength="4" formControlName="branch">
                </div>
                <div class="col-lg-3">
                    <label for="account">Account</label>
                    <input type="text" class="form-control text-uppercase" id="account" aria-describedby="account" placeholder="Account" style="border-color: #00338E;" maxlength="6" formControlName="account" (blur)="getCustName()">
                </div>
                <div class="col-lg-2">
                    <label for="suffix">Suffix</label>
                    <input type="text" class="form-control" id="suffix" aria-describedby="suffix" placeholder="suffix" style="border-color: #00338E;" maxlength="3" formControlName="suffix">
                </div>
                <!-- <div class="col-lg-5">
                    <div class="spinner-border text-primary mr-2" style="border-spacing: 2px;" *ngIf="fetchingCustomerName"></div>
                    <h4 class="mt-4">{{ customerName }}</h4>
                </div> -->
            </div>
            <div class="form-group row">
                <div class="col-lg-1">
                    <label for="chargecode">Charge Code</label>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control mt-2 text-uppercase" id="chargeCode" aria-describedby="chargeCode" placeholder="chargeCode" style="border-color: #00338E;" maxlength="2" formControlName="chargeCode" (blur)="getChargeCodeName()">
                </div>
                <!-- <div class="col-lg-5">
                    <div class="spinner-border text-primary mr-2" style="border-spacing: 2px;" *ngIf="fetchingChargeCodeName"></div>
                    <h4 class="mt-1">{{ chargeCodeName }}</h4>
                </div> -->
            </div> 
            <div class="row">
                <div class="col-lg-2">
                    <label for="currency">Currency</label>
                    <input type="text" size="3" class="form-control" id="currency" aria-describedby="Currency" placeholder="currency" style="border-color: #00338E;" maxlength="3" formControlName="currency">
                </div>
                <div class="col-lg-5">
                    <label for="camt">Charge Amount</label>
                    <input type="number" class="form-control" id="chargeAmount" aria-describedby="chargeAmount" placeholder="chargeAmount" style="border-color: #00338E;" maxlength="15" step="0.01" formControlName="chargeAmount">
                </div>
            </div> 
            <br/> 
             <div class="row">
                 <div class="col-lg-12">
                    <button class="btn btn-outline-primary mr-2" href="#" *ngIf="!isPosting" (click)="onSubmit()">Process</button>
                    <div class="spinner-border text-primary mr-2" style="border-spacing: 2px;" *ngIf="isPosting"></div>
                    <button class="btn btn-outline-primary" href="#" *ngIf="!isPosting">Cancel</button>
                 </div>
             </div>
        </form>
    </div>
</div>
<div class="col-lg-5" style="color:blueviolet">
   <div class="row">
       <div class="col-lg-6">
        <h5><label for="customerName" *ngIf="customerName">Customer Name: </label></h5>
       </div>
        <div class="col-lg-6">
            <div class="spinner-border text-primary mr-2" style="border-spacing: 2px;" *ngIf="fetchingCustomerName"></div>
            <h5><output  class="ml-2" id="customerName" *ngIf="customerName">{{ customerName }}</output></h5>    
        </div>
   </div> 
   <br/>
   <div class="row">
    <div class="col-lg-6">
     <h5><label for="chargeCodeName" *ngIf="chargeCodeName">Charge Code: </label></h5>
    </div>
     <div class="col-lg-6">
        <div class="spinner-border text-primary mr-2" style="border-spacing: 2px;" *ngIf="fetchingChargeCodeName"></div>
        <h5 class="ml-2" id="chargeCodeName" *ngIf="chargeCodeName">{{ chargeCodeName }}</h5>    
     </div>
</div> 
</div>
</div>