<div class="card-body" *ngIf="!success">
    <div class="container">
        <form [formGroup]="pmcForm" (ngSubmit)="onSubmit()">
            <div class="form-row align-items-center mb-4">
                <div class="col-4">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="border-color: #00338E;border-right: transparent;">
                                Input Source</div>
                        </div>
                        <select class="form-control" formControlName="source" (change)="changeSource()"
                            aria-describedby="Source" placeholder="Source" style="border-color: #00338E;">
                            <option>Choose Source</option>
                            <option *ngFor="let s of source">{{ s }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center mb-4" *ngIf="fromAccount">
                <div class="col-2">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="border-color: #00338E;border-right: transparent;">
                                Branch</div>
                        </div>
                        <input type="text" maxlength="4" class="form-control" id="branch" formControlName="branch"
                            style="border-color: #00338E;">
                    </div>
                </div>
                <div class="col-3">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="border-color: #00338E;border-right: transparent;">
                                Basic</div>
                        </div>
                        <input type="text" class="form-control text-uppercase" id="account" maxlength="6"
                            (blur)="getCustName()" formControlName="account" style="border-color: #00338E;">
                    </div>
                </div>
                <div class="col-2">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="border-color: #00338E;border-right: transparent;">
                                Suffix</div>
                        </div>
                        <input type="text" class="form-control" id="suffix" maxlength="3" formControlName="suffix"
                            style="border-color: #00338E;">
                    </div>
                </div>
                <div class="col-5" *ngIf="!errorGetCustomer">
                    <div class="spinner-border text-primary mr-2" style="border-spacing: 2px;"
                        *ngIf="fetchingCustomerName">
                    </div>
                    <h5><output class="ml-2" id="customerName" *ngIf="customerName">{{ customerName }}</output></h5>
                </div>
                <div class="col-5" *ngIf="errorGetCustomer">
                    <div class="row alert alert-danger ml-2">
                        <div class="col-lg-10"><strong>{{ errorGetCustomer }} Unable to Get Customer
                                Details!</strong></div>
                        <div class="col-lg-2"><button type="button" class="btn btn-danger"
                                (click)="dismissCustomerError()">X</button></div>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center mb-4" *ngIf="fromDeal">
                <div class="col-3">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="border-color: #00338E;border-right: transparent;">
                                Branch</div>
                        </div>
                        <input type="text" maxlength="4" class="form-control" id="branch" formControlName="branch"
                            style="border-color: #00338E;">
                    </div>
                </div>
                <div class="col-4">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="border-color: #00338E;border-right: transparent;">
                                Reference</div>
                        </div>
                        <input type="text" class="form-control text-uppercase" id="account" maxlength="6"
                            (blur)="getCustName()" formControlName="dealRef" style="border-color: #00338E;">
                    </div>
                </div>
                <div class="col-5" *ngIf="!errorGetCustomer">
                    <div class="spinner-border text-primary mr-2" style="border-spacing: 2px;"
                        *ngIf="fetchingCustomerName">
                    </div>
                    <h5><output class="ml-2" id="customerName" *ngIf="customerName">{{ customerName }}</output></h5>
                </div>
                <div class="col-5" *ngIf="errorGetCustomer">
                    <div class="row alert alert-danger ml-2">
                        <div class="col-lg-10"><strong>{{ errorGetCustomer }} Unable to Get Customer
                                Details!</strong></div>
                        <div class="col-lg-2"><button type="button" class="btn btn-danger"
                                (click)="dismissCustomerError()">X</button></div>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center mb-4" *ngIf="fromAccount || fromDeal">
                <div class="col-3">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="border-color: #00338E;border-right: transparent;">
                                Charge Code</div>
                        </div>
                        <input type="text" maxlength="2" class="form-control" id="branch" formControlName="chargeCode" (blur)="getChargeCodeName()"
                            style="border-color: #00338E;">
                    </div>
                </div>
                <div class="col-5" *ngIf="!errorGetChargeCode">
                    <div class="spinner-border text-primary mr-2" style="border-spacing: 2px;"
                        *ngIf="fetchingChargeCodeName">
                    </div>
                    <h5><output class="ml-2" id="customerName" *ngIf="customerName">{{ chargeCodeName }}</output></h5>
                </div>
                <div class="col-5" *ngIf="errorGetChargeCode">
                    <div class="row alert alert-danger ml-2">
                        <div class="col-lg-10"><strong>Unable to Get Charge Code 
                                Details!</strong></div>
                        <div class="col-lg-2"><button type="button" class="btn btn-danger"
                                (click)="dismissChargeCodeError()">X</button></div>
                    </div>
                </div>
            </div>   
            <div class="form-row align-items-center mb-4" *ngIf="fromAccount || fromDeal">
                <div class="col-2">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="border-color: #00338E;border-right: transparent;">
                                Currency</div>
                        </div>
                        <input type="text" maxlength="3" class="form-control" id="branch" formControlName="currency"
                            style="border-color: #00338E;">
                    </div>
                </div>
                <div class="col-4">
                    <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="border-color: #00338E;border-right: transparent;">
                                Amount</div>
                        </div>
                        <input type="number" length="15" class="form-control" id="branch" formControlName="chargeAmount"
                            style="border-color: #00338E;">
                    </div>
                </div>
            </div> 
            <div class="row alert-dismissible fade show" *ngIf="errorProcessing">
                <div class="row alert alert-danger">
                    <div class="col-lg-10"><strong>{{ errorProcessing }} Unable to Process!</strong>
                    </div>
                    <div class="col-lg-2"><button type="button" class="btn btn-danger"
                            (click)="dismissProcessError()">X</button></div>
                </div>
            </div>  
            <div class="form-group row" *ngIf="fromAccount || fromDeal">
                <div class="col-lg-8">
                    <button class="btn btn-outline-success mr-2" href="#" *ngIf="!isPosting" (click)="onSubmit()"
                        [disabled]="!pmcForm.valid">Process</button>
                    <div class="spinner-border text-primary mr-2" style="border-spacing: 2px;" *ngIf="isPosting">
                    </div>
                    <button class="btn btn-outline-warning mr-2" href="#" *ngIf="!isPosting" (click)="onCancel()">Clear</button>
                    <button class="btn btn-outline-danger" href="#"  *ngIf="!isPosting" [routerLink]="['/actions']">Exit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card-body" *ngIf="success">
    <h2 class="text-center text-success display-4">Success!</h2>
    <table class="table">
        <tbody>
            <tr *ngIf="fromAccount">
                <th scope="row">
                    <h5 class="text-secondary">Account:</h5>
                </th>
                <td>
                    <h5>{{pmcForm.value['branch']}}-{{pmcForm.value['account'].toUpperCase()}}-{{pmcForm.value['suffix']}}
                    </h5>
                </td>
            </tr>
            <tr *ngIf="fromDeal">
                <th scope="row">
                    <h5 class="text-secondary">Deal:</h5>
                </th>
                <td>
                    <h5>{{pmcForm.value['branch'].toUpperCase()}}-{{pmcForm.value['dealRef']}}
                    </h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5 class="text-secondary">Customer Name:</h5>
                </th>
                <td>
                    <h5>{{customerName}}</h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5 class="text-secondary">Charge Code:</h5>
                </th>
                <td>
                    <h5> {{pmcForm.value['chargeCode'].toString()}}</h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5 class="text-secondary">Charge Code Name:</h5>
                </th>
                <td>
                    <h5>{{chargeCodeName}}</h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5 class="text-secondary">Currency:</h5>
                </th>
                <td>
                    <h5>{{pmcForm.value['currency']}}</h5>
                </td>
            </tr>
            <tr>
                <th>
                    <h5 class="text-secondary">Amount: </h5>
                </th>
                <td>
                    <h5>{{pmcForm.value['chargeAmount'].toString()}}</h5>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <div class="btn btn-success" [routerLink]="['/actions']">OK</div>
    </div>
</div>