<div class="row">
    <div class="col-lg-11">
        <h2 class="text-left" style="color: #00338E;">AB <i>Account Balance Enquiry</i></h2>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<hr/>
<form>
    <div class="form-row align-items-center">
        <div class="col-2">
            <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Branch</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup">
            </div>
          </div>
      <div class="col-3">
        <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Basic</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup">
        </div>
      </div>
      <div class="col-2">
        <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Suffix</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup">
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </div>
  </form>
  