<div class="container">
  <mat-card class="example-card">
    <!-- <mat-card-header>
      <mat-card-title> </mat-card-title>
    </mat-card-header> -->
    <mat-card-content>
      <p class="text-center p-2 display-3 animatesuccess" style="font-size: 100px;">Welcome!</p>
      <p class="text-center p-2" style="font-size: 50px;">Pick an Action on your Left to Start</p>
    </mat-card-content>
  </mat-card>
  
</div>

<!-- <section class="h-100">
    <header class="container h-100">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column">
          <h1 class="text align-self-center p-2 display-3">Welcome!</h1>
          <h3 class="text align-self-center p-2 text-muted">Pick an Action on your Left to Start</h3>
        </div>
      </div>
    </header>
  </section> -->
