<div class="container">
<h2 style="color: #00338E;font-family: 'Raleway', sans-serif;">Actions</h2>
<!-- <input type="text" style="font-family: 'Raleway', sans-serif;" class="form-control borderColour" id="searchAction" aria-describedby="emailHelp" placeholder="Search"  (input)="onSearch($event)"> -->
<mat-form-field class="example-form-field">
  <mat-label style="font-family: 'Raleway', sans-serif;">Search</mat-label>
  <input matInput type="text" (input)="onSearch($event)" style="font-family: 'Raleway', sans-serif;">
</mat-form-field>
</div>

<mat-list>
  <a mat-list-item *ngFor="let Action of actionList" (click)="navigate(Action.link)" appListItemHighlight style="text-decoration: none;">
    <mat-icon matListIcon>send</mat-icon>
    <h3 matLine style="font-family: 'Raleway', sans-serif;">{{ Action.mnemonic }}</h3>
    <p matLine style="font-family: 'Raleway', sans-serif;">{{ Action.description }}</p>
  </a>
</mat-list>