<!-- <div class="border"> -->
<div class="container">
<h2 style="color: #00338E;"><i>Actions</i></h2>
<input type="email" class="form-control borderColour" id="searchAction" aria-describedby="emailHelp" placeholder="Search"  (input)="onSearch($event)">
</div>
<hr/>
<div class="wrapper" style="display:grid">
<div class="container">
  <div class="list-group">
    <a matRipple href="#" *ngFor="let Action of actionList" class="list-group-item list-group-item-action" [routerLink]="[Action.key]" appListItemHighlight><b class="text-left">{{ Action.mnemonic }}</b> &#x23E9; <i class="text-right">{{ Action.description }}</i> </a>
  </div>
</div>
</div>