/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css2?family=Raleway&display=swap';


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    background-color: #00338E;
  }

.fit-width {
    width: auto;
}

.fullscreen{
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  min-height: 100%;
}

html,body {
  height: 100%;
  background-color: #00338E;
}


.wrapper{ 
  overflow-y: auto;
  /* overflow-x: hidden;  */
  position:relative;
  min-height: calc(100vh - 185px);
  max-height: calc(100vh - 185px);
  width: 100%;
  border-color: transparent;
}

.animatesuccess {
  animation: colorchange 5s linear 1s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 5s linear 0s infinite alternate; /* Chrome and Safari */
}

@keyframes colorchange
{
  0%   {color: cyan;}
  33%  {color: magenta;}
  66%  {color: yellow;}
  100% {color: cyan;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {color: cyan;}
  33%  {color: magenta;}
  66%  {color: yellow;}
  100% {color: cyan;}
}

.borderColour {
  animation: animate_border 5s infinite;
}
 
@keyframes animate_border {
  0%   {border-color: red;}
  25%  {border-color: green;}
  50%  {border-color: blue;}
  75%  {border-color: rgb(141, 141, 0);}
  100% {border-color: red;}
}

.blue-snackbar {
  color: white !important; 
    background-color: #00338E; 
    border-color: #c3e6cb !important;
    .mat-simple-snackbar-action {
        color: red !important;
    }
}